/* begin Page */

/* Created by Artisteer v3.0.0.35414 */

#bt-page-background-glare-image
{
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/page_gl.png',sizingMethod='crop')");
    zoom: 1;
}

body
{
    background-attachment: scroll;
}


#bt-page-background-middle-texture
{
    height: expression(document.documentElement.clientHeight + 'px');
    width: expression(document.body.clientWidth>960px?"100%":"960px");
}


img
{
    filter: expression(artFixPNG(this));
}

/* end Page */

/* begin Box, Sheet */
.bt-sheet, .bt-sheet-body
{
    zoom: 1;
}

.bt-sheet-tr, .bt-sheet-tl, .bt-sheet-br, .bt-sheet-bl, .bt-sheet-tc, .bt-sheet-bc,.bt-sheet-cr, .bt-sheet-cl
{
    font-size: 1px;
    background: none;
}

.bt-sheet-tr, .bt-sheet-tl, .bt-sheet-br, .bt-sheet-bl
{
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/sheet_s.png',sizingMethod='scale')");
}

.bt-sheet-tl
{
    clip: rect(auto 29px 29px auto);
}

.bt-sheet-tr
{
    left:expression(this.parentNode.offsetWidth-58+'px');
    clip: rect(auto auto 29px 29px);
}

.bt-sheet-bl
{
    top: expression(this.parentNode.offsetHeight-58+'px');
    clip: rect(29px 29px auto auto);
}

.bt-sheet-br
{
    top: expression(this.parentNode.offsetHeight-58+'px');
    left:expression(this.parentNode.offsetWidth-58+'px');
    clip: rect(29px auto auto 29px);
}

.bt-sheet-tc, .bt-sheet-bc
{
    width: expression(this.parentNode.offsetWidth-58+'px');
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/sheet_h.png',sizingMethod='scale')");
}

.bt-sheet-tc
{
    clip: rect(auto auto 29px auto);
}

.bt-sheet-bc
{
    top: expression(this.parentNode.offsetHeight-58+'px');
    clip: rect(29px auto auto auto);
}

.bt-sheet-cr, .bt-sheet-cl
{
    height: expression(this.parentNode.offsetHeight-58+'px');
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/sheet_v.png',sizingMethod='scale')");
}

.bt-sheet-cr
{
    left:expression(this.parentNode.offsetWidth-58+'px');
    clip: rect(auto auto auto 29px);
}

.bt-sheet-cl
{
    clip: rect(auto 29px auto auto);
}

.bt-sheet-cc
{
    font-size: 1px;
    width: expression(this.parentNode.offsetWidth-58+'px');
    height: expression(this.parentNode.offsetHeight-58+'px');
    background-color: #FFFFFF;
}
#bt-page-background-top-texture, #bt-page-background-glare
{
    width: expression(document.body.clientWidth>960px?"100%":"960px");
}

/* end Box, Sheet */

/* begin Header */
div.bt-header-png
{
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/header.png',sizingMethod='crop')");
}
/* end Header */

/* begin HeaderObject */
div.bt-headerobject
{
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/header-object.png',sizingMethod='scale')");
}
/* end HeaderObject */

/* begin Layout */
.bt-content-layout, .bt-content-layout-row {display: block;}
.bt-content-layout, .bt-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.bt-vmenublock, .bt-vmenublock-body
{
    zoom: 1;
}
.bt-vmenublock-cc
{
    font-size: 1px;
    width: expression(this.parentNode.offsetWidth+'px');
    height: expression(this.parentNode.offsetHeight+'px');
}
/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.bt-vmenublockcontent, .bt-vmenublockcontent-body
{
    zoom: 1;
}
.bt-vmenublockcontent, .bt-vmenublockcontent-body
{
    zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.bt-vmenu .bt-vmenu-separator, ul.bt-vmenu .bt-vmenu-separator-span, ul.bt-vmenu li.bt-vsubmenu-separator, ul.bt-vmenu .bt-vsubmenu-separator-span
{
    zoom: 1;
    overflow: hidden;
    float: left;
    width: 100%;
}

ul.bt-vmenu a:hover
{
    visibility: visible;
}

ul.bt-vmenu li
{
    zoom:1;
}

ul.bt-vmenu a .r, ul.bt-vmenu a .l
{
    font-size: 1px;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/vmenuitem.png',sizingMethod='crop')");
}

ul.bt-vmenu a .r
{
    left:expression(this.parentNode.offsetWidth-946+'px');
    clip: rect(auto auto auto 946px);
}

ul.bt-vmenu a .l
{
    width: expression(this.parentNode.offsetWidth-0+'px');
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.bt-vmenu ul a
{
    color: #303030 !important;
}

ul.bt-vmenu ul a.active
{
    color: #1A1A1A !important;
}

ul.bt-vmenu ul a:hover {
    color: #6B6B6B !important;
}

ul.bt-vmenu ul a:hover span, ul.bt-vmenu ul a:hover span span
{
    color: #6B6B6B !important;
}
/* end VMenuSubItem */

/* begin Box, Block */
.bt-block, .bt-block-body
{
    zoom: 1;
}

.bt-block-tr, .bt-block-tl, .bt-block-br, .bt-block-bl, .bt-block-tc, .bt-block-bc,.bt-block-cr, .bt-block-cl
{
    font-size: 1px;
    background: none;
}

.bt-block-tr, .bt-block-tl, .bt-block-br, .bt-block-bl
{
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/block_s.png',sizingMethod='scale')");
}

.bt-block-tl
{
    clip: rect(auto 1px 1px auto);
}

.bt-block-tr
{
    left:expression(this.parentNode.offsetWidth-2+'px');
    clip: rect(auto auto 1px 1px);
}

.bt-block-bl
{
    top: expression(this.parentNode.offsetHeight-2+'px');
    clip: rect(1px 1px auto auto);
}

.bt-block-br
{
    top: expression(this.parentNode.offsetHeight-2+'px');
    left:expression(this.parentNode.offsetWidth-2+'px');
    clip: rect(1px auto auto 1px);
}

.bt-block-tc, .bt-block-bc
{
    width: expression(this.parentNode.offsetWidth-2+'px');
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/block_h.png',sizingMethod='scale')");
}

.bt-block-tc
{
    clip: rect(auto auto 1px auto);
}

.bt-block-bc
{
    top: expression(this.parentNode.offsetHeight-2+'px');
    clip: rect(1px auto auto auto);
}

.bt-block-cr, .bt-block-cl
{
    height: expression(this.parentNode.offsetHeight-2+'px');
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/block_v.png',sizingMethod='scale')");
}

.bt-block-cr
{
    left:expression(this.parentNode.offsetWidth-2+'px');
    clip: rect(auto auto auto 1px);
}

.bt-block-cl
{
    clip: rect(auto 1px auto auto);
}

.bt-block-cc
{
    font-size: 1px;
    width: expression(this.parentNode.offsetWidth-2+'px');
    height: expression(this.parentNode.offsetHeight-2+'px');
    background-color: #FFFFFF;
}
/* end Box, Block */

/* begin Box, BlockContent */
.bt-blockcontent, .bt-blockcontent-body
{
    zoom: 1;
}
.bt-blockcontent-body ul li
{
    height: 1%;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Button */
.bt-button-wrapper, .bt-button-wrapper .bt-button-l, .bt-button-wrapper .bt-button-r
{
    zoom: 1;
}

.bt-button-wrapper .bt-button
{
    float: left;
}

.bt-button-wrapper .bt-button-l, .bt-button-wrapper .bt-button-r
{
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/button.png',sizingMethod='crop')");
}

.bt-button-wrapper .bt-button-r
{
    left:expression(this.parentNode.offsetWidth-409+'px');
    clip: rect(auto auto auto 405px);
}

.bt-button-wrapper .bt-button-l
{
    width: expression(this.parentNode.offsetWidth-4+'px');
}
/* end Button */

/* begin Box, Post */
.bt-post, .bt-post-body
{
    zoom: 1;
}
/* end Box, Post */

/* begin PostMetadata, PostMetadataHeader */
.bt-postmetadataheader
{
    zoom:1;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/postmetadataheader_bg.png',sizingMethod='scale')");
}


/* end PostMetadata, PostMetadataHeader */

/* begin PostBullets */
.bt-post ul li, .bt-post ol ul li
{
    height: 1%;
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/postbullets.png',sizingMethod='crop')");
    padding-left: 19px;
    /* makes "ul li" not to align behind the image if they are in the same line */
    overflow-x: visible;
    overflow-y: hidden;
}

.bt-post ul ol li
{
    background: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
    padding-left: 0;
    /* overrides overflow for "ul li" and sets the default value */
    overflow: visible;
}
/* end PostBullets */

/* begin PostQuote */
.bt-postcontent blockquote
{
    height: 1%;
    background-image: none;
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"../images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Footer */
.bt-footer, .bt-footer-body
{
    zoom:1;
}





/* end Footer */

/* begin LayoutCell, content */

.bt-content {width: auto;}
.bt-content-layout .bt-layout-cell, .bt-content-layout .bt-layout-cell .bt-content-layout .bt-layout-cell
{
    display: block;
    position:relative;
    float: left;
    clear: right;
}
.bt-content-layout .bt-layout-cell, .bt-content-layout .bt-layout-cell .bt-content-layout .bt-layout-cell {zoom:1;}

/* end LayoutCell, content */



form#form-login ul li
{
    behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}

/* Plugin compatilibity. */

/* 150675, googlemap */
div.map img
{
    behavior: none;
    filter: none;
}